<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shops</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Cout of books</th>
            </tr>
        </thead>
        <tbody>
            {% for store in stores %}
            <tr>
                <td>{{ store.name }}</td>
                <td>{{ store.num_books }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>